.Header {
    min-height: 10vh;
    width: 100%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 150px;
}

.Header-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-contact {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #272932;
}

.Header-contact img {
    height: 20px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.Header-separator {
    height: 3px;
    width: 100%;
    background: #9FA0FF;
    border-radius: 2px;
}

.Header-navitem {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #272932;
    cursor: pointer;
    position: relative;
}

.Header-navitem::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.Header-navitem:hover::after {
    width: 100%;
    background: #002500;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}